[submodule "external/VSRTL"]
	path = external/VSRTL
	url = https://github.com/mortbopet/VSRTL
[submodule "external/ELFIO"]
	path = external/ELFIO
	url = https://github.com/serge1/ELFIO
[submodule "src/processors/CARD/card"]
	path = src/processors/CARD/card
	url = https://github.com/TheCopperMind/CARD-cw
[submodule "external/libelfin"]
	path = external/libelfin
	url = https://github.com/mortbopet/libelfin
